@model HARTravel.Models.AboutU

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AboutU</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AboutTheCompany)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AboutTheCompany)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AboutOurTour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AboutOurTour)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
